.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__fsaOt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__fsaOt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fsaOt > :global(.__wab_flex-container) > *,
.freeBox__fsaOt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fsaOt > :global(.__wab_flex-container) > picture > img,
.freeBox__fsaOt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__gcon2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gcon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gcon2 > :global(.__wab_flex-container) > *,
.freeBox__gcon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gcon2 > :global(.__wab_flex-container) > picture > img,
.freeBox__gcon2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__lyzfg {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__fQoG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___6ZSnC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__ef1MD {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__qDoD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg___4Uhb0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__e8QuP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__owEYd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__kMtPz {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 8px;
}
.freeBox__kMtPz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__kMtPz > :global(.__wab_flex-container) > *,
.freeBox__kMtPz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kMtPz > :global(.__wab_flex-container) > picture > img,
.freeBox__kMtPz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__i8RZv {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___1YYan {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
