.root {
  display: flex;
  width: 32px;
  height: 32px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
}
.slotTargetIcon {
  color: var(--token-gq-QfsfJ3IS1);
}
.svg__hrpXv {
  position: relative;
  object-fit: cover;
  color: var(--token-yeZBCzQeUK7I);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
